<div class="container">

<h4>Ci-dessous tous les articles disponibles pour vos futurs voyages : </h4>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-alone">
        <% if params[:query].present?%>
         <% @articles.each do |article| %>
          <div class="card-product">
            <%= cl_image_tag article.searchable.photo, height: 100, width: 150, crop: :fill %>
              <div class="card-product-infos">
               <h2><%= link_to article.searchable.name.capitalize, article_path(article) %></h2>
              <div class="details">
                <p><%=article.searchable.description%></p>
                <p class="princing"><%=article.searchable.price%>€/Jour</p>
              </div>
            </div>
          </div>
        <% end %>
        <% else   %>
        <% @articles.each do |article| %>
          <div class="card-product">
          <%= cl_image_tag article.photo, height: 100, width: 150, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= link_to article.name.capitalize, article_path(article) %></h2>
              <div class="details">
                <p><%=article.description%></p>
                <p class="princing"><%=article.price%>€/Jour</p>
                </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div
        id="map"
        style="width: 500px;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
