<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1 class="form-title">Add a new article</h1>

      <%= simple_form_for(@article) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="d-flex justify-content-center">
          <%= f.submit "Ajouter à la location", class: "btn btn-flat form-green"%>
        </div>
      <% end %>
    </div>
  </div>
</div>


