<h1><%= @article.name.capitalize %> - <%= @article.price%>€/j </h1>
<img src="" alt="">
<p><%= @article.description %></p>
<%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>

<%= link_to "Retour à la liste", articles_path %>


<% if policy(@article).edit? %>
  <%= link_to "Editer", edit_article_path(@article) %>
<% end %>

<% if policy(@article).destroy? %>
  <%= link_to "Supprimer", article_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

