<div class="container p-3">
  <div class="row">
    <div class="col-12 col-lg-6">
        <div class="card-show rounded">
          <div class="card-product-infos">
            <div class="d-flex justify-content-between d-flex align-items-center">
              <h1><%= @article.name %></h1>
              <div class="icons p-2">
                <% if policy(@article).edit? %>
                  <%= link_to edit_article_path(@article), class: "p-2" do %>
                    <i class="fas fa-pencil-alt fa-2x" style="color:#61D095"></i>
                  <% end %>
                <% end %>
                <% if policy(@article).destroy? %>
                  <%= link_to article_path, method: :delete, data: { confirm: "Are you sure?" }, class:"p-2" do %><i class="fas fa-trash fa-2x" style="color:#439775"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div>
              <p>Categorie : <strong><%= @article.category.split.map(&:capitalize)*' ' %></strong></p>
              <p>Adresse : <strong><%= @article.address.split.map(&:capitalize)*' ' %></strong></p>
              <p><%= @article.description%></p>
              <div class="reservation d-flex justify-content-around align-items-center">
                <p class="princing">Prix : <strong><%= @article.price%>€/Jour</strong></p>
              </div>
            </div>
            <% if policy(Booking.new(article_id: @article.id)).create? %>
              <div class="">
                <h1 class="form-title">Réserver</h1>
                <%= simple_form_for [@article, @booking], url: article_bookings_url(@article) do |f| %>
                  <%= f.input :start_date, as: :string, input_html: {class:"date"} %>
                  <%= f.input :end_date, as: :string, input_html: {class:"date"} %>
                  <div class="d-flex justify-content-center">
                    <%= f.submit "Réserver", class: "btn btn-flat form-green" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
      <%= cl_image_tag @article.photo, class:"image" %>
      <% if @article.reviews.blank? %>
        Soyez le premier à laisser un commentaire.
      <% end %>
      <%= render 'reviews/form', article: @article, review: @review %>
      <div id="reviews">
        <% @article.reviews.reverse.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
