<div class="container p-3">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-lg-6">
        <div class="card-show">
          <div class="card-product-infos">
            <div class="d-flex justify-content-between d-flex align-items-center">
              <h1><%= @article.name %></h1>
              <div class="icons p-2">
                <%= link_to edit_article_path(@article), class:"p-2" do %><i class="fa fa-pencil fa-2x" style="color:#61D095"></i><% end %>
                <%= link_to article_path, method: :delete, data: { confirm: "Are you sure?" }, class:"p-2" do %><i class="fas fa-trash fa-2x" style="color:#439775"></i>
                <% end %>
              </div>
            </div>
            <div>
              <p>Categorie : <strong><%= @article.category.split.map(&:capitalize)*' ' %></strong></p>
              <p>Adresse : <strong><%= @article.address.split.map(&:capitalize)*' ' %></strong></p>
              <p><%= @article.description%></p>
              <div class="reservation d-flex justify-content-around align-items-center">
                <p class="princing">Prix : <strong><%= @article.price%>€/Jour</strong></p>
                <%= link_to "Réserver", new_article_booking_path(@article), class:"btn btn-success mx-2" %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
      <%= cl_image_tag @article.photo, height: 400, width: 500, crop: :fill %>
    </div>
  </div>
</div>
