<h1><%= "${User.first_name}" %></h1>

<h3 class="booked-articles">Vos articles en location</h3>
<ul>
  <% @articles.each do |article| %>
  <li>
    <%= article.name %>
    <%= article.description %>
    <%= article.price %>
  </li>
  <% end %>
</ul>

<h3 class="pending-bookings">Vous avez reçu ces demandes de location</h3>

<h3 class="articles-rented">Les articles que vous louez</h3>

<h3 class="your-bookings">Vos demandes de réservations en attente</h3>

<%= link_to "Déconnexion", destroy_user_session_path  %>
<%= link_to "Supprimer votre compte", method: :delete, data: { confirm: "Voulez-vous vraiment supprimer votre compte?"} %>

<!-- cancel_user_registration_path ? -->
