<ul class="list-inline tabs-underlined p-2">
  <li>
    <%= link_to "Mes articles en location", dashboard_path, class:"tab-underlined-active px-3" %>
  </li>
  <li>
    <%= link_to "Les demandes reçues", bookings_as_owner_path, class:"tab-underlined px-2" %>
  </li>
  <li>
    <%= link_to "Les demandes envoyées", bookings_as_user_path, class:"tab-underlined px-2" %>
  </li>
  <li>
    <a href="#" class="tab-underlined">Ma messagerie</a>
  </li>
</ul>


<div class="container">
  <div class="row d-flex">
    <div class="col-12 col-lg-6 pt-3">
      <% if @articles.size > 0 %>
        <div class="my-proposed-articles">
          <h3 class="text-center pb-2">Vos articles proposés à la location :</h3>
          <ul>
            <div class="card-alone">
            <% @articles.each do |article| %>
              <li class="card-product d-flex justify-content-between d-flex align-items-center">
                <%= cl_image_tag article.photo %>
            <div class="card-product-infos">
              <h2><%= link_to article.name.capitalize, article_path(article) %></h2>
              <div class="details">
                <p><%=article.description%></p>
                <p class="princing"><%=article.price%>€/Jour</p>
                </div>
            </div>
              </li>
            <% end %>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-6 pt-3">
      <h3 class="text-center pb-2">Mon profil</h3>
      <div class="container card-product p-3">
        <%= cl_image_tag @user.photo %>
        <h3><%= @user.first_name %></h3>
        <h3><%= @user.last_name %></h3>
        <h3><%= @user.address %></h3>
          <%= link_to "Apporter des modifications à votre profil", edit_user_registration_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>


<!--  if, colonne dans ma table articles, colonne booked, boolean, clicker , if il est reserve ca apparait  -->
