<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
       <%= image_tag "tente.png" %>

    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="search">
    <div class="form-search">
      <%= form_tag articles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Votre recherche"%>
    </div>
    <div class="btn-search">
      <%= submit_tag "Search", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <div>
        </div>
       <li class="nav-item dropdown">
          Bienvenue <%= current_user.first_name %>
            <%= image_tag "user-circle-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-righ" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", "/dashboard", class: "nav-link" %>
            <%= link_to "Modifier mon Profil", edit_user_registration_path, class: "nav-link" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>

        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


